@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('/font/Fantasquesansmonoregular.woff')
    format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('font/Fantasquesansmonobolditalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('/font/Fantasquesansmonobold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('/font/Fantasquesansmonobolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
body{
    font-family: "Fantasque Sans Mono";
    margin-left: 120px;
    padding: 0;
    max-width: 1440px;
}

.Plashki {
    margin-top: 40px;
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}
.plash1 {
    width: 214px;
    height: 73px;
    background-color: #31CA3E;
    border-radius: 100px;
    border: 2px solid black;
}

.Mono{
    font-size: 24px;
    font-family: Fantasque Sans Mono;
    font-style: normal;
    color: #262626;
    display: flex;
    justify-content: center;
    padding: 24px 24px;
    margin: 0;
}

.plash2 {
    width: 238px;
    height: 73px;
    background-color: #A81AFF;
    border-radius: 100px;
    border: 2px solid black;
}
.Zag{
    font-size: 24px;
    font-family: Fantasque Sans Mono;
    font-style: normal;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 24px 24px;
    margin: 0;
}
.both{
    display: flex;
}
.all {
    width: 70%;
}
.line {
    width: 30%;
    display: flex;
}
.line1{
    border-left: 2px solid black;
    height: 7200px;
    left: 75%;
    top: 0;
}
p {
    font-style: normal;
    font-family: Fantasque Sans Mono;
    font-size: 20px;
    color: #262626;
    padding: 20px;
}
.From {
    margin-top: 10%;
    display: flex;

}
.comsan{
    display: block;
}
.comic {
    font-weight: bold;
    color: #BA5CF3;
    font-size: 64px;
    margin-top: -10px;
}
.Sans {
    font-size: 32px;
    margin-top: -30px;
}
.vector{
    margin-left: -162px;
    margin-top: 5%;
}
.arrow {
    margin-left: 30%;
    margin-top: 5%;
}
.authorr{
    font-size: 40px;
    font-family: Fantasque Sans Mono;
    color: black;
    font-weight: normal;
    transform: rotate(90deg);
    margin-top: 520px;
    margin-left: -220px;


}
.Stitle {
    margin-top: 160px;
    font-size: 80px;
    padding: 20px;
    font-family: Fantasque Sans Mono;
    font-weight: bold;
    color: #262626;
}
.Phones {
    display: flex;
}
.phone {
    margin-left: 10%;
    margin-top: 200px;
}
.smile1{
    margin-top: 75%;
    display: flex;
    margin-left: -32px;
}
.History {
    margin-top: -45%;
    width: 420px;
    height: 251px;
    background-color: #A81AFF;
    border: 2px solid black;
    border-radius: 32px;
    z-index: 1;
}
.istoria {
    font-size: 64px;
    font-weight: bold;
    color: white;
    padding-left: 32px;
    padding-top: 32px;

}
.istoriamin {
    color: white;
    line-height: 130%;
    padding-left: 32px;
    padding-top: 0;
    padding-bottom: 0;
}
.vector1 {
    margin-left: -150px;
    margin-top: -300px;

}
.Ttitle {
    display: flex;
    font-size: 80px;
    padding: 20px;
    margin-top: 180px;
    font-family: Fantasque Sans Mono;
    font-weight: bold;
    color: #262626;
}
.Development {
    margin-top: 24px;
    padding: 32px;
    width: 780px;
    height: 66px;
    background-color: #31CA3E;
    border: 2px solid black;
    border-radius: 30px;
}
.dev {
    margin-top: -16px;
    font-size: 23px;
    line-height: 130%;
}
.rectangle {
    margin-left: -120px;
    width: 1440px;
    margin-top: 40px;
}

.code1 {
    margin-top: -20px;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    color: white;
}
.olympics {
    margin-top: 130px;
}
.smile2{
    margin-top: 330%;
    display: flex;
    margin-left: -32px;
}
.Plashki2 {
    align-items: center;
    margin-top: 110px;
    display: flex;
    gap: 120px;
}
.plash3 {
    width: 214px;
    height: 73px;
    background-color: #FFF956;
    border-radius: 100px;
    border: 2px solid black;
}

.Fnach{
    font-size: 24px;
    font-family: Fantasque Sans Mono;
    font-style: normal;
    color: #262626;
    display: flex;
    justify-content: center;
    padding: 24px 24px;
    margin: 0;
}

.plash4 {
    width: 238px;
    height: 73px;
    background-color: #8EDFFF;
    border-radius: 100px;
    border: 2px solid black;
}
.Lang{
    font-size: 24px;
    font-family: Fantasque Sans Mono;
    font-style: normal;
    color: #262626;
    display: flex;
    justify-content: center;
    padding: 24px 24px;
    margin: 0;
}
.nach {
   
    display: flex;
}
.bol{
    margin-left: 150px;
}
.it {
    margin-left: 150px;
}
.itb {
    margin-left: 120px;
}
.a4 {
    margin-left: 40px;
}
.y4 {
    margin-left: 40px;
    margin-top: 80px;
}
.smile3{
    margin-top: 140%;
    display: flex;
    margin-left: -32px;
}
.primside {
    line-height: 130%;
}
.rect1 {
    margin-top: 150px;
    width: 880px;
    height: 700px;
    background-color: #A81AFF;
    border-radius: 32px;
    border: 2px solid black;
}
.biga {
    margin-top: 60px;
    justify-content: center;
    display: flex;
    padding: 20px;
    gap: 50px;
}
.alphabet {
    margin-left: 70px;
    padding: 20px;
}
.smile4{
    margin-top: 140%;
    display: flex;
    margin-left: -32px;
}
.rect2 {
    margin-top: 10%;
    width: 880px;
    height: 730px;
    background-color: #31CA3E;
    border-radius: 32px;
    border: 2px solid black;
}
.ym{
    padding: 80px 80px;
}
.Ftitle {
    font-size: 80px;
    margin-top: 80px;
    font-family: Fantasque Sans Mono;
    font-weight: bold;
    color: #262626;
}
.glyph {
    margin-left: -20px;
    font-weight: normal;
    mmargin-top: 0;
    margin-bottom: 5px;
    font-size: 23px;
    line-height: 130%;
}
.allrect{
    display: flex;
    gap: 10px;
}
.rectY{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 210px;
    height: 350px;
    background-color: #FFF956;
    border: 2px solid black;
    border-radius: 32px;
}
.rectB{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 210px;
    height: 350px;
    background-color: #6DD5FF;
    border: 2px solid black;
    border-radius: 32px;
}
.rectP{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 210px;
    height: 350px;
    background-color: #A81AFF;
    border: 2px solid black;
    border-radius: 32px;
}
.rectG{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 210px;
    height: 350px;
    background-color: #31CA3E;
    border: 2px solid black;
    border-radius: 32px;
}
.allrect2{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.smile5{
    margin-top: 385%;
    display: flex;
    margin-left: -32px;
}
.Fftitle {
    display: flex;
    font-size: 80px;
    padding-bottom: 24px;
    margin-top: 120px;
    font-family: "Fantasque Sans Mono";
    font-weight: bold;
    color: #262626;
}
.twomems{

    display: flex;
    gap: 80px;
    margin-top: 20px;
}
.uzb {
    width: 410px;
    height: 390px;
    background-color: #A81AFF;
    border-radius: 32px;
    border: 2px solid black;
}
.spanch {
    width: 410px;
    height: 390px;
    background-color: #FFED00;
    border-radius: 32px;
    border: 2px solid black;
}
.spb {
    margin-top: 15px;
    font-size: 32px;
    color: #262626;
    font-weight: bold;
    text-align: center;
}
.spbl {
    margin-top: -5px;
    font-size: 24px;
    color: #262626;
    font-weight: bold;
    text-align: center;
}
.SpanchBobik {
    justify-content: center;
    display: flex;
    align-items: center;

}
.uz {
    margin-top: 15px;
    font-size: 32px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.uzl {
    margin-top: -5px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.Uzbagoisya {
    justify-content: center;
    display: flex;
    align-items: center;

}
.legmem{
    margin-top: 24px;
    margin-left: 200px;
}
footer {
    margin-left: -120px;
    background-color: #262626;
    height: 90px;
    align-content: flex-end;
}
.textfoot{
    display: flex;
    align-items: end;
    align-content: flex-end;
    justify-content: space-between;
    vertical-align: baseline;
}
.left {
    color: #757575;
    text-align: left;
}
.middle {
    color: #757575;
    text-align: center;
}
.right {
    color: #757575;
    text-align: right;
}
a {
    text-decoration: none;
}
